
//custom spacers
.pd {
    padding-top: 1em;
    padding-bottom: 1em;
}
.pd-med {
    padding-top: 2em;
    padding-bottom: 2em;
}
.pd-lg {
    padding-top: 3em;
    padding-bottom: 3em;
}


.pd-top {
    padding-top: 1em;
}
.pd-top-med {
    padding-top: 2em;
}
.pd-top-lg {
    padding-top: 4em;
}

